  .Title a {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: rgb(44, 0, 218);
    color: rgba(255, 255, 255, 0.835);
    font-weight: bold;
    text-decoration: none;
  }

  .Title-Subtitle {
    margin: 10px;
    padding: 10px;
    font-weight: bold;

  }

  .Title .nav-link-active {
    color: #fff;
    border-bottom: 2px solid;
  }
  
  h1 {
    margin: 0;
  }

  button {
    padding: 5px 10px;
    background-color: rgb(44, 0, 218);
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 4px;
  }

 