.about {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    font-family: "Rockwell";
    color: white;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    font-family: "Rockwell";
    color: white;
    margin-bottom: 10px;
  }
  